[Unit]
Description=Runs checkup, which syncs the package database witout installing anything

[Service]
Type=simple
Environment="STATUSBAR=i3blocks"
ExecStart=/home/remo/.local/ricebin/cron/checkup
# Nice=19
