#!/usr/bin/env sh

light-locker & # allows secure session locking using `light-locker-command -l`
setbg &		# Set the background
sxhkd &	# Bind keys

unclutter &		# Remove mouse when idle
xcompmgr &		# xcompmgr for transparency
dunst &			# dunst for notifications
nm-applet &		# network sys-tray
powerkit &
# mpdupdate &

# Trackpad
# synclient TapButton1=1 # enable tap to click
synclient PalmDetect=1 # enable palm detection

# setup xkb and other keybaord related configs:
source $HOME/.local/bin/setup_keyboard.sh

# load theme
xrdb -merge $HOME/themes/normalize.xresource
xrdb -merge $HOME/themes/Wombat.xresource
