[Desktop Entry]
Name=Vivado
GenericName=Verilog Editor
Comment=Hardware Designer
MimeType=text/x-verilog;text/x-systemverilog
Exec=/tools/Xilinx/Vivado/2019.2/bin/vivado %F
Icon=vivado
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Vivado
Keywords=Hardware;Verilog;Text;Editor;
